:host {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
  }
.logo_brancoFundo{
    width: 224px;
}
.conteiner{
    display: flex;
    width: 100%;
    height: 100%;
}
.menu{
    background-color: rgba(244, 94, 19, 0.6784313725);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-a{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    row-gap: 20px;
    width: 100%;
    align-items: center;

    a{
        font-size: 18px;
        height: 40px;
        text-decoration: none;
        color: black;
    }
}
.body{
    width: 100%;
    height: 100%;
}
.fc-direction-ltr {
    direction: ltr;
    text-align: left;
    height: 100%;
    width: 100%;
}