.header{
    margin: 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
  }

.bloco{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    
}

.title{
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.conteiner-valor{
    padding: 36px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.line{
    height: 160px;
    width: 2px;
    background-color: rgb(233, 233, 233);
}

.line2{
    height: 300px;
    width: 2px;
    background-color: rgb(233, 233, 233);
}
.conteinerAll{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
    column-gap: 20px;
}
.allbloco{
    display: flex; 
    align-items: center;
}

.estoque-container {
    margin: 20px 20px;
  }
  
.estoque{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}
  .estoque-item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
  }
  
  .estoque-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .estoque-details {
    flex-grow: 1;
    row-gap: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .estoque-details p {
    margin: 0;
    font-size: 14px;
  }

  .buttonVendido{
    background-color: #f45e13 !important;
    color: white !important
  }
  .quantidade-baixa {
    color: rgb(213 209 14);
    font-weight: bold;
  }
  
  .quantidade-zero {
    color: rgb(247, 52, 52);
    font-weight: bold;
  }
  
@media only screen and (max-width: 1584px) {
#myChart, #comparisonChart{
    width: 500px !important;
}
}

@media only screen and (max-width:1341px) {
    .conteinerAll{
        flex-direction: column;
        row-gap: 20px;
    }

    .conteiner-valor {
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        width: 100%;
    }
}

@media only screen and (max-width:993px){
    img{
        width: 64px;
    }
}

@media only screen and (max-width:865px){
    .allbloco{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
}