<div class="header">
  <h2 style="margin: 10px 5px">Visão geral</h2>
</div>
<div class="infromation">
  <div class="bloco">
    <div class="title">
      <mat-icon>medication</mat-icon>Total de agendamentos dia
    </div>
  </div>
  <div class="bloco">
    <div class="title"><mat-icon>shower</mat-icon> Total de banhos dia</div>
  </div>
  <div class="bloco">
    <div class="title"><mat-icon>paid</mat-icon>Total de faturamente mês</div>
  </div>
</div>
<div style="width: 100%; max-width: 600px; margin: 0 auto">
  <canvas id="myChart"></canvas>
</div>
