<div class="conteiner">
  <div class="menu">
    <img src="img/logo_brancoFundo.png" class="logo_brancoFundo" />

    <div class="menu-a">
      <a href="home" style="height: 25px">CALENDÁRIO</a>
      <a
        href="clinica"
        style="
          background-color: white;
          font-weight: 600;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: black;
        "
        >CLÍNICA</a
      >
      <a href="mensagem"> MENSAGENS </a>
      <a>CONFIGURAÇÃO</a>
    </div>
  </div>
  <div class="body">
    <div class="hearder-vet">
      <a (click)="openDialog('300ms', '300ms')" class="btnCreateVet"
        ><img src="img/icon/mais.png"
      /></a>
    </div>
    <div class="allVet">
      <div *ngIf="clinicas.length > 0" class="carousel-container">
        <div class="carousel">
          <div class="carousel-track" [style.transform]="transformStyle">
            <div class="carousel-item" *ngFor="let clinica of clinicas">
              <a href="InformacaoVet">
                <img
                  [src]="
                    'data:image/png;base64,' + clinica.cra6a_imagemveterinario
                  "
                  alt="Imagem do Veterinário"
                />
              </a>
            </div>
          </div>
        </div>
        <button (click)="prevSlide()" class="carousel-control prev">‹</button>
        <button (click)="nextSlide()" class="carousel-control next">›</button>
      </div>
      <div *ngIf="clinicas.length === 0">
        <p>Nenhuma clínica encontrada.</p>
      </div>
    </div>

    <div style="display: flex; align-items: center; justify-content: center">
      <table class="consultas">
        <tr>
          <td>Nome do Pet</td>
          <td>Horário</td>
          <td>Data</td>
          <td>Dr(a).</td>
          <td>Status</td>
        </tr>
        <tr>
          <td>Alberto</td>
          <td>15:55</td>
          <td>03/06/2024</td>
          <td>Dr(a).Leticia</td>
          <td>
            <button></button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
