// :host {
//     display: flex;
//     width: 100%;
//     height: 100%;
//     overflow-y: auto;
//     position: relative;
//   }

.body{
    display: flex;
    flex-direction: column;
    height: 90vh;
}
.header-body{
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
}

.text-number{
    margin: 0px 10px;
    padding: 10px;
    background-color: #0A8989;
    border-radius: 5px;
    border: none;
}
.header-chat{
    display: flex;
    column-gap: 20px;
    align-items: center;
    padding: 15px 0px;
    background-color: #3E8FF5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.imgUser{
    width: 60px;
    border: 3px solid black;
    border-radius: 99px;
    padding-bottom: 0px;
    margin-left: 17px;
    margin-right: 10px;
}
.informacoesUser{
    display: flex; 
    flex-direction: column; 

    p{
        margin: 0px;
    }
}
.footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.input-Enviar{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    padding: 10px;
}
.input-Enviar:focus-visible{
    border: 1px solid black;
}
.btnSend{
    display: flex;
    align-items: center;
    border: none;
    background-color: #6BDA4E;
    border-radius: 50%;
    padding: 10px;
}
#status{
    display: flex;
    justify-content: center;
    align-items: center;
}
#historic{
    display: flex;
    flex-direction: column;
    height: 54vh;
    overflow-y: auto;
}
.conversationVoce{
    background-color: rgba(118, 176, 247, 0.753);
    display: flex;
    padding: 10px;
    border-radius: 10px;
    justify-content: flex-end;
}
.conversationBot{
    background-color: rgba(118, 176, 247, 0.753);
    display: flex;
    padding: 10px;
    border-radius: 10px;
    justify-content: flex-start;
}