<div class="background-overlay"></div>
<img src="img/clinica-veterinaria.svg" class="background-img" />
<div class="conteiner">
  <div class="image-container">
    <img src="img/vet.png" class="veterinaria" />
  </div>
  <div class="forms" *ngIf="register">
    <div style="display: flex; align-items: flex-start; width: 100%">
      <a href="/" class="btn-voltar" style="text-decoration: none">
        <mat-icon>arrow_back_ios</mat-icon> Voltar
      </a>
    </div>
    <img src="img/logo_brancoFundo.png" class="logo_brancoFundo" />
    <form id="cadastro" [formGroup]="register" (ngSubmit)="cadastrar()">
      <div
        style="
          display: flex;
          font-size: 40px;
          font-weight: 600;
          margin-bottom: 20px;
          color: white;
        "
      >
        Criar Conta
      </div>
      <div class="formulario__campo">
        <div>Nome Completo*</div>
        <input formControlName="nome" class="campo__escrita" />
        <div
          *ngIf="
            register.get('nome')?.invalid &&
            (register.get('nome')?.touched || register.get('nome')?.dirty)
          "
        >
          <span
            class="erro_texto"
            *ngIf="register.get('nome')?.errors?.['required']"
            >*Campo Obrigatorio.</span
          >
        </div>
      </div>
      <div class="formulario__campo">
        <div>Email*</div>
        <input formControlName="email" class="campo__escrita" />
        <div
          *ngIf="
            register.get('email')?.invalid &&
            (register.get('email')?.touched || register.get('email')?.dirty)
          "
        >
          <span
            class="erro_texto"
            *ngIf="register.get('email')?.errors?.['required']"
            >*Campo Obrigatorio.</span
          >
        </div>
      </div>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
        "
      >
        <div class="formulario__campo">
          <div>Senha*</div>
          <input
            formControlName="senha"
            class="campo__escrita"
            type="password"
          />

          <div
            *ngIf="
              register.get('senha')?.invalid &&
              (register.get('senha')?.touched || register.get('senha')?.dirty)
            "
          >
            <span
              class="erro_texto"
              *ngIf="register.get('senha')?.errors?.['required']"
              >*Campo Obrigatorio.</span
            >
          </div>
        </div>
        <div class="formulario__campo">
          <div>Confirme sua senha*</div>
          <input
            formControlName="confirmSenha"
            class="campo__escrita"
            type="password"
          />
          <div
            *ngIf="
              register.get('confirmSenha')?.touched ||
              register.get('confirmSenha')?.dirty
            "
          >
            <span class="erro_texto">As senhas não correspondem.</span>
          </div>
        </div>
      </div>
      <div class="content-btn">
        <button type="submit" class="cadastro">Cadastrar-se</button>
      </div>
    </form>
  </div>
</div>
