:host {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
  }
  .background-img {
    position: fixed;
    top: -1px;
    left: -1px;
    width: 101%;
    height: 101%;
    object-fit: cover;
    z-index: -2; /* Certifique-se de que a imagem está atrás do conteúdo */
  }
  
  .background-overlay {
    position: fixed;
    top: -1px;
    left: -1px;
    width: 101%;
    height: 101%;
    background-color: rgba(0, 0, 0, 0.6); /* Ajuste o valor alfa para a opacidade desejada */
    z-index: 0; /* Certifique-se de que o overlay está acima da imagem, mas abaixo do conteúdo */
  }

  .conteiner{
    position: relative;
    z-index: 1; /* Certifique-se de que o conteúdo está acima do overlay */
    display: inline-flex;
    animation: slideBack 1s;
  }
  .animate {
    animation: slideBack 1s !important;
  }
  
@keyframes slideBack {
  0%{
    transform: translateX(-100%);
  }  
  100%{
    transform: translateX(0%);
  }
}
@keyframes slideToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.forms.slide-out {
  animation: slideToLeft 1s forwards;
}
.image-container {
  animation: slideBack 2s;
  display: flex;
  align-items: flex-end;
  z-index: 4;
  position: absolute;
  left: 519px;
  top: 0px;
  bottom: 0px;
  
  img{
    height: 80%;
  }
}
.image-container.slide-out {
  animation: slideToLeft 2s forwards;
  left: 500px;
}
.forms{
    background-color: hsla(213, 90%, 60%, 0.5);
  backdrop-filter: blur(7px);
    height: 100vh;
    width: 732px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.password{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px !important;
  width: 100%;
  }
  .cadastro{
    width: 240px;
    margin-top: 20px;
    color: white;
    background-color: #6BDA4E;
    height: 57px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 18px;
  }
  .content-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.logo_brancoFundo{
    width: 260px;
}
.btn-voltar{
  width: 104px;
  color: white;
  height: 47px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campo__escrita{
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 400px !important
}

@media only screen and (max-width:1120px){
  .image-container{
    animation: _ngcontent-ng-c3270995425_slideBack 2s;
    display: flex;
    align-items: flex-end;
    z-index: 4;
    position: absolute;
    left: 405px;
    top: 0px;
    bottom: 0px;
}
.forms{
  background-color: hsla(213, 90%, 60%, 0.5);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  height: 100vh;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
}
@media only screen and (max-width:1006px){
  .forms{
    background-color: hsla(213, 90%, 60%, 0.5);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    height: 100vh;
    width: 433px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-container {
  animation: _ngcontent-ng-c3270995425_slideBack 2s;
  display: flex;
  align-items: flex-end;
  z-index: 4;
  position: absolute;
  left: 346px;
  top: 0px;
  bottom: 0px;
}
}
@media only screen and (max-width:948px){
  mat-form-field{
    width: 300px !important;
  }
  .mat-form-field-password{
    width: 139px  !important;
  }
  .divVoltar{
    display: flex;
    width: 316px !important;
  }
  .cadastro{
    width: 100%;
    margin-top: 20px;
    color: white;
    background-color: #6BDA4E;
    height: 57px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 18px;
}
.forms {
  background-color: hsla(213, 90%, 60%, 0.5);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  height: 100vh;
  width: 338px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image-container {
  animation: _ngcontent-ng-c3270995425_slideBack 2s;
  display: flex;
  align-items: flex-end;
  z-index: 4;
  position: absolute;
  left: 238px;
  top: 0px;
  bottom: 0px;
}
}

@media only screen and (max-width:838px){
  .image-container{
  display: none !important;
}
.conteiner{
  position: relative;
  z-index: 1;
  display: inline-flex;
  animation: _ngcontent-ng-c4144664435_slideBack 1s;
  width: 100%;
}
.forms {
  background-color: hsla(213, 90%, 60%, 0.5);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
mat-form-field{
  width: 422px !important;
}
.mat-form-field-password{
  width: 200px  !important;
}
}
@media only screen and (max-width:429px){
  mat-form-field{
    width: 300px !important;
  }
  .mat-form-field-password{
    width: 300px  !important;
  }

  .divPassword{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }
}

@media only screen and (max-width:307px){
  mat-form-field {
    width: 207px !important;
}.mat-form-field-password{
  width: 207px  !important;
}
.logo_brancoFundo {
  width: 163px;
}
.cirarconta{
  font-size: 30px;
}
.divVoltar{
  display: flex;
  width: 100% !important;
}
}