:host {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
  }
.logo_brancoFundo{
    width: 224px;
}

.body{
    width: 100%;
    height: 100%;
    margin-top: 63px;
    margin-left: 10px;
}
.allInformation {
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 47px;
    margin-bottom: 23px;
}
.informationVeterinario{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    height: 100%;
    row-gap: 5px;
}
.consultas{
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    padding: 10px;
}
.header{
    margin: 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.AClinica{
    text-decoration: none;
    color: #2F579A;
    font-size: 18px;
}
.AInformacao{
    text-decoration: none;
    color: #172b4c;
    font-size: 18px;
}
.Ahref:hover{
    color: #3E8FF5;
    border-bottom: 1px solid #3E8FF5;
}