<app-menu></app-menu>
  <div class="body">
    <h2 style="margin: 10px 5px">Informações do Veterinário</h2>
    <div class="header">
      <a href="home" style="display: flex; align-items: center">
        <img src="img/icon/home.svg"
      /></a>
      <a href="clinica" class="AClinica">Clínica</a> -
      <a href="InformacaoVet" class="AInformacao">Informações do Veterinário</a>
    </div>
    <div *ngIf="clinica" class="allInformation"> 
      <img
      [src]="
        'data:image/png;base64,' + clinica.cra6a_imagemveterinario
      "
      alt="Imagem do Veterinário"
    />
    <div class="informationVeterinario">
      <h2 style="margin: 0px;">Dr<span  style="font-size: 15px;">
        (a)
      </span >
      :{{ clinica.cra6a_nomeveterinario }}</h2>
      <p style="margin: 0px;"><span  style="font-weight: 600;">
        Atuação no mercado: 
      </span>
      {{ clinica.cra6a_anoatuacao }} anos</p>
      <p style="margin: 0px;">
        <span  style="font-weight: 600;">

          Data de Nascimento: 
        </span>
        {{clinica.cra6a_datanascimento| date: 'dd/MM/yyyy'}}</p>
      <p style="margin: 0px;">
        <span  style="font-weight: 600;">
          Faculdade:
        </span>
         {{clinica.cra6a_faculdade}}</p>
      <p style="margin: 0px;"> <span  style="font-weight: 600;">

        Pós-Graduação:
      </span> 
       {{clinica.cra6a_posgraduacao}}</p>
    </div>
      <!-- Adicione mais informações conforme necessário -->
    </div>
    <div *ngIf="!clinica">
      <p>Carregando informações da clínica...</p>
    </div>

    <div style="display: flex; align-items: center; justify-content: center">
      <table class="consultas">
        <tr>
          <td>Nome do Pet</td>
          <td>Horário</td>
          <td>Data</td>
          <td>Dr(a).</td>
          <td>Status</td>
        </tr>
        <tr>
          <td>Alberto</td>
          <td>15:55</td>
          <td>03/06/2024</td>
          <td>Dr(a). Leticia</td>
          <td><button></button></td>
        </tr>
      </table>
    </div>
  
  </div>
