<div class="forms">
  <mat-form-field>
    <mat-label>Nome Completo</mat-label>
    <input matInput />
  </mat-form-field>
  <div class="example-container">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email"
        (blur)="updateErrorMessage()"
        required
      />
      @if (email.invalid) {
      <mat-error>{{ errorMessage }}</mat-error>
      }
    </mat-form-field>
  </div>
  <div class="password">
    <div class="container">
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="container">
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="content-btn">
      <button type="submit" class="login">Cadastrar-se</button>
    </div>
  </div>
</div>
