
  
  .mat-dialog-title {
    font-size: 24px;
    font-weight: bold;
    color: #3f51b5; // Altere para a cor que você preferir
  }
  
  .mat-dialog-content {
    font-size: 16px;
    margin-top: 16px;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
  }
  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .divP{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  p{
    margin: 5px 0px;
    
  }
  .title{
font-size: 21px;
font-weight: 600;
  }

  .decoration{
    width: 100%;
    height: 50px;
    background-color: #F45F13;
  }