.conteiner{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.borda{
    background-color: #f45e13 !important;
    padding: 32px;
}