<div class="conteiner">
  <div class="menu">
    <img src="img/logo_brancoFundo.png" class="logo_brancoFundo" />

    <div class="menu-a">
      <a href="home">CALENDÁRIO</a>
      <a href="clinica">CLÍNICA</a>
      <a href="mensagem" style="height: 25px"> MENSAGENS </a>
      <a
        href="configuration"
        style="
          background-color: white;
          font-weight: 600;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: black;
        "
        >CONFIGURAÇÃO</a
      >
    </div>
  </div>
  <div class="body"></div>
</div>
