<div class="body">
  <div class="header">
    <h2>Clínica</h2>
  </div>
  <div class="hearder-vet">
    <a (click)="openDialog('300ms', '300ms')" class="btnCreateVet">
      <mat-icon>add_circle</mat-icon>Criar novo registro
    </a>
  </div>
  <div class="allVet">
    <div *ngIf="clinicas.length > 0" class="carousel-container">
      <div class="carousel">
        <div class="carousel-track" [style.transform]="transformStyle">
          <div
            class="carousel-item"
            *ngFor="let clinica of clinicas"
            [attr.data-id]="clinica.cra6a_clinicaid"
            (click)="goToInformationVet(clinica.cra6a_clinicaid)"
          >
            <a>
              <img
                [src]="
                  'data:image/png;base64,' + clinica.cra6a_imagemveterinario
                "
                alt="Imagem do Veterinário"
                style="border-radius: 50%;"
              />
            </a>
          </div>
        </div>
      </div>
      <button (click)="prevSlide()" class="carousel-control prev">‹</button>
      <button (click)="nextSlide()" class="carousel-control next">›</button>
    </div>
    <div *ngIf="clinicas.length === 0">
      <p>Nenhuma clínica encontrada.</p>
    </div>
  </div>
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 20px;
    "
  >
    <table>
      <thead>
        <tr class="title">
          <th width="10%">Nome do Pet </th>
          <th width="10%">Data</th>
          <th width="10%">Horário</th>
          <th width="10%">Dr(a).</th>
          <th width="10%">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agendamento of agendamentosClinica">
          <td>{{ agendamento.nomePet }}</td>
          <td>{{ formatarData(agendamento.cra6a_horariodaconsulta) }}</td>
          <td>{{ formatarHora(agendamento.cra6a_horariodaconsulta) }}</td>
          <td>{{ agendamento.nomeVeterinario }}</td>
          <td>
            <ng-container [ngSwitch]="agendamento.cra6a_status">
              <div *ngSwitchDefault class="buttonStatus">
                <button
                  *ngIf="agendamento.cra6a_status !== 1"
                  (click)="
                    updateStatus(agendamento.cra6a_agendamentoclinicaid, 0)
                  "
                  class="buttonConfirmar"
                >
                  Confirmar
                </button>
                <button
                  *ngIf="agendamento.cra6a_status !== 1"
                  (click)="
                    updateStatus(agendamento.cra6a_agendamentoclinicaid, 2)
                  "
                  class="buttonCancelar"
                >
                  Cancelar
                </button>
              </div>
              <div *ngSwitchCase="0">
                <button
                  (click)="
                    updateStatus(agendamento.cra6a_agendamentoclinicaid, 1)
                  "
                  class="buttonConcluido"
                >
                  Concluir
                </button>
              </div>
              <div *ngSwitchCase="2" style="color: rgb(247, 52, 52)">
                Cancelado
              </div>
              <div *ngSwitchCase="1" style="color: rgb(86, 238, 86)">
                Concluído
              </div>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
