
  .header{
    margin: 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 20px;
  }
  .hearder-vet{
    display: flex;
    margin-left: 25px;
  }
  .btnCreateVet{
      text-decoration: none;

      display: flex;
      align-items: center;
      column-gap: 10px;
      border-radius: 10px;
      padding: 15px 20px;
      background-color: rgba(244, 94, 19, 0.6784313725);
      font-size: 16px;
  }
  .btnCreateVet:hover{
    font-weight: 600;
    column-gap: 8px;

    box-sizing: border-box;
    box-shadow: 3px 10px 13px rgba(0, 0, 0, 0.192);
  }

  .AClinica{
    text-decoration: none;
    color: #172b4c;
    font-size: 18px;
  }
  
  .Ahref:hover{
    color: #3E8FF5;
    border-bottom: 1px solid #3E8FF5;
  }
  .allVet{
      margin: 20px;
  }
  .bola{
      background: lightblue;
      border-radius: 50%;
      width: 100px;
      height: 100px;
  }
  .consultas{
      border: 1px solid black;
      border-radius: 5px;
      width: 90%;
      padding: 10px;
  }
  .carousel-container {
      position: relative;
      width: 100%;
      overflow: hidden;
  }
  
  .carousel {
    margin: 0px 60px;
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    }
    
    .carousel-track {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
    
    .carousel-item{
      min-width: 47%;
      box-sizing: border-box;
  }
    
    .carousel-control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      border: none;
      color: white;
      font-size: 2em;
      cursor: pointer;
    }
    
    .prev {
      left: 10px;
      margin: 5px;
    }
    
    .next {
      right: 10px;
      margin: 5px;
    }