
  .header{
    margin: 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
  }
  .hearder-vet{
    display: flex;
    margin-left: 5px;
  }
  .btnCreateVet{
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 5px;
    padding: 10px 8px;
    background-color: #F45F13;
    font-size: 16px;
    color: white;
  }
  // .btnCreateVet:hover{
  //   font-weight: 600;
  //   column-gap: 8px;

  //   box-sizing: border-box;
  //   box-shadow: 3px 10px 13px rgba(0, 0, 0, 0.192);
  // }

  .AClinica{
    text-decoration: none;
    color: #172b4c;
    font-size: 18px;
  }
  
  .Ahref:hover{
    color: #3E8FF5;
    border-bottom: 1px solid #3E8FF5;
  }
  .allVet {
    margin: 20px 5px;
}
  .bola{
      background: lightblue;
      border-radius: 50%;
      width: 100px;
      height: 100px;
  }
  .consultas{
      border: 1px solid black;
      border-radius: 5px;
      width: 90%;
      padding: 10px;
  }
  .carousel-container {
      position: relative;
      width: 100%;
      overflow: hidden;
  }
  
  .carousel {
    margin: 0px 60px;
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    }
    
    .carousel-track {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
    
    .carousel-item{
      min-width: 38%;
      box-sizing: border-box;
  }
    
    .carousel-control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.336);
      border: none;
      color: white;
      font-size: 2em;
      cursor: pointer;
    }
    
    .prev {
      left: 0px;
    margin: 5px;
    margin-left: 0px;
    }
    
    .next {
      right: 10px;
      margin: 5px;
    }

    .buttonStatus{
      display: flex; 
      align-items: center;
      column-gap: 20px;
    }

    .buttonConfirmar{
      border: none;
      border-radius: 5px;
      padding: 10px;
      background-color: rgb(243, 243, 67);
      font-weight: 500;
    }

    .buttonConfirmar:hover{
      border: none;
      border-radius: 5px;
      padding: 10px;
      background-color: rgb(243, 243, 67);
      font-weight: 600;
    }

    .buttonCancelar{
      border: none;
      border-radius: 5px;
      padding: 10px;
      background-color: rgb(247, 52, 52);
      font-weight: 500;
    }

    .buttonCancelar:hover{
      border: none;
      border-radius: 5px;
      padding: 10px;
      background-color: rgb(247, 52, 52);
      font-weight: 500;
    }

    .buttonConcluido{
      border: none;
      border-radius: 5px;
      padding: 10px;
      background-color: rgb(86, 238, 86);
      font-weight: 500;
    }

    .buttonConcluido:hover{
      border: none;
      border-radius: 5px;
      padding: 10px;
      background-color: rgb(86, 238, 86);
      font-weight: 600;
    }

    table{
      border-collapse: collapse;
      border: 1px solid #ededed;
      border-radius: 5px !important;
      width: 100% !important;
     }
     
     tbody tr {
      height: 45px;
      border-bottom: 1px solid #ededed;
      background-color: #fbfbfb;
      text-align: center;
     }
     
     .title {
      background-color: #F45F13;
      height: 30px;
      color: #fff;
      font-size: 18px;
     }

 