:host {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
  }
.body{
    width: 100%;
    height: 100%;
}
.fc-direction-ltr {
    direction: ltr;
    text-align: left;
    height: 100%;
    width: 100%;
}
