<div style="display: flex; flex-direction: column;width: 100%;">

    <h2 style="margin: 5px 20px;">Legenda</h2>
    <div class="legendas">
        <div style="display: flex; align-items: center;column-gap: 5px;margin-right: 20px;">
            <div class="bola" style="   background-color: red;"></div>
            <div class="title">Banho</div>
        </div>
        <div style="display: flex; align-items: center;column-gap: 5px;margin-right: 20px;">
            <div class="bola" style="   background-color: blue;"></div>
            <div class="title">Tosa</div>
        </div>
        <div style="display: flex; align-items: center;column-gap: 5px;margin-right: 20px;">
            <div class="bola" style="   background-color: green;"></div>
            <div class="title">Banho e Tosa</div>
        </div>
        <div style="display: flex; align-items: center;column-gap: 5px;margin-right: 20px;">
            <div class="bola" style="background-color: yellow;"></div>
            <div class="title">Tosa completa</div>
        </div>
        <div style="display: flex; align-items: center;column-gap: 5px;margin-right: 20px;">
            <div class="bola" style="   background-color: purple;"></div>
            <div class="title">Tosa higiênica</div>
        </div>
    </div>
    <div style="display: flex; align-items: center;column-gap: 5px;margin-left: 20px; margin-top: 10px; margin-bottom: 10px;">
        <div class="bola" style="   background-color: orange;"></div>
        <div class="title">Agendamento de Consulta</div>
    </div>
    <div id="calendar"></div>
    
</div>