:host {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
  }
.body{
    width: 100%;
    height: 100%;
    margin: 0px 20px;
}
.fc-direction-ltr {
    direction: ltr;
    text-align: left;
    height: 100%;
    width: 100%;
}
.fc-event.concluido {
    background-color: green !important;
    pointer-events: none; /* Desativa o clique */
    opacity: 0.6; /* Torna o evento meio transparente */
  }
  
.legendas{
  display: flex;
  margin: 0px 20px;

}
  .bola{
    width: 20px;
    height: 20px;
 
    border-radius: 50%;
  }

  .title{
    font-weight: 500;
  }