<div class="forms" *ngIf="clinica">
  <h2>Registrar novo Veterinário</h2>
  <form id="clinica" [formGroup]="clinica" (ngSubmit)="cadastrarVeterinario()">
    <div class="formulario__campo" style="width: 100%">
      <div style="margin: 10px 0px; margin-bottom: 5px">
        Imagem do Veterinário
      </div>
      <input
        formControlName="imagem"
        type="file"
        name="imagem"
        (change)="onFileChange($event)"
      />
    </div>
    <input formControlName="imagemBase64" type="hidden" />

    <div class="formulario__campo">
      <div style="margin: 10px 0px; margin-bottom: 5px">Nome Completo*</div>
      <input formControlName="nome" class="campo__escrita" />
      <div
        *ngIf="
          clinica.get('nome')?.invalid &&
          (clinica.get('nome')?.touched || clinica.get('nome')?.dirty)
        "
      >
        <span
          class="erro_texto"
          *ngIf="clinica.get('nome')?.errors?.['required']"
          >*Campo Obrigatorio.</span
        >
      </div>
    </div>
    <div class="formulario__campo">
      <div style="margin: 10px 0px; margin-bottom: 5px">
        Data de Nascimento*
      </div>
      <input formControlName="date" class="campo__escrita" type="date" />
      <div
        *ngIf="
          clinica.get('date')?.invalid &&
          (clinica.get('date')?.touched || clinica.get('date')?.dirty)
        "
      >
        <span
          class="erro_texto"
          *ngIf="clinica.get('date')?.errors?.['required']"
          >*Campo Obrigatorio.</span
        >
      </div>
    </div>
    <div class="formulario__campo">
      <div style="margin: 10px 0px; margin-bottom: 5px">Atua há*</div>
      <input formControlName="tempoAtuacao" class="campo__escrita" />
      <div
        *ngIf="
          clinica.get('tempoAtuacao')?.invalid &&
          (clinica.get('tempoAtuacao')?.touched ||
            clinica.get('tempoAtuacao')?.dirty)
        "
      >
        <span
          class="erro_texto"
          *ngIf="clinica.get('tempoAtuacao')?.errors?.['required']"
          >*Campo Obrigatorio.</span
        >
      </div>
    </div>
    <div class="formulario__campo">
      <div style="margin: 10px 0px; margin-bottom: 5px">Faculdade*</div>
      <input formControlName="faculdade" class="campo__escrita" />
      <div
        *ngIf="
          clinica.get('faculdade')?.invalid &&
          (clinica.get('faculdade')?.touched || clinica.get('faculdade')?.dirty)
        "
      >
        <span
          class="erro_texto"
          *ngIf="clinica.get('faculdade')?.errors?.['required']"
          >*Campo Obrigatorio.</span
        >
      </div>
    </div>
    <div class="formulario__campo">
      <div style="margin: 10px 0px; margin-bottom: 5px">Pós Graduação</div>
      <input formControlName="posGratuacao" class="campo__escrita" />
    </div>
    <div>
      <button class="btnRegistro">
        <mat-icon>save</mat-icon>
        Criar Registro
      </button>
    </div>
  </form>
</div>
