<div class="borda"></div>
<div class="forms" *ngIf="clinica">
  <h2>Registrar novo Veterinário</h2>
  <form id="clinica" [formGroup]="clinica" (ngSubmit)="cadastrarVeterinario()">
    <div class="formulario__campo" style="width: 100%;
    display: flex;
    flex-direction: column;">
      <div style="margin: 10px 0px; margin-bottom: 5px">
        Imagem do Veterinário
      </div>
      <!-- <div style="display: flex; align-items: center; justify-content: center;">
        <input
          formControlName="imagem"
          type="file"
          name="imagem"
          (change)="onFileChange($event)"
        />
      </div> -->
      <div class="item-imagemEditar" (click)="fileInput.click()" style="cursor: pointer;">
        <!-- Exibe a imagem se houver, caso contrário exibe o texto -->
        <img *ngIf="imageBase64" [src]="imageBase64" alt="Imagem do item" class="imagem" />
        <div *ngIf="!imageBase64" class="placeholder-text" style="color: white; font-weight: 600;">Clique para buscar a imagem</div>

        <input
          formControlName="imagem"
          type="file"
          name="imagem"
          (change)="onFileChange($event)"
          #fileInput
          style="display: none;"
          accept="image/*"
        />
      </div>
    </div>
    <input formControlName="imagemBase64" type="hidden" />

    <div class="formulario__campo">
      <div style="margin: 10px 0px; margin-bottom: 5px">Nome Completo*</div>
      <input formControlName="nome" class="campo__escrita" />
      <div
        *ngIf="
          clinica.get('nome')?.invalid &&
          (clinica.get('nome')?.touched || clinica.get('nome')?.dirty)
        "
      >
        <span
          class="erro_texto"
          *ngIf="clinica.get('nome')?.errors?.['required']"
          >*Campo Obrigatorio.</span
        >
      </div>
    </div>
    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
      <div class="formulario__campo" >
        <div style="margin: 10px 0px; margin-bottom: 5px">
          Data de Nascimento*
        </div>
        <input formControlName="date" class="campo__escrita" type="date" style="width: 125px !important;" />
        <div
          *ngIf="
            clinica.get('date')?.invalid &&
            (clinica.get('date')?.touched || clinica.get('date')?.dirty)
          "
        >
          <span
            class="erro_texto"
            *ngIf="clinica.get('date')?.errors?.['required']"
            >*Campo Obrigatorio.</span
          >
        </div>
      </div>
      <div class="formulario__campo" >
        <div style="margin: 10px 0px; margin-bottom: 5px">Atua há*</div>
        <input formControlName="tempoAtuacao" class="campo__escrita" style="width: 125px !important;" />
        <div
          *ngIf="
            clinica.get('tempoAtuacao')?.invalid &&
            (clinica.get('tempoAtuacao')?.touched ||
              clinica.get('tempoAtuacao')?.dirty)
          "
        >
          <span
            class="erro_texto"
            *ngIf="clinica.get('tempoAtuacao')?.errors?.['required']"
            >*Campo Obrigatorio.</span
          >
        </div>
      </div>
    </div>
    <div class="formulario__campo">
      <div style="margin: 10px 0px; margin-bottom: 5px">Faculdade*</div>
      <input formControlName="faculdade" class="campo__escrita" />
      <div
        *ngIf="
          clinica.get('faculdade')?.invalid &&
          (clinica.get('faculdade')?.touched || clinica.get('faculdade')?.dirty)
        "
      >
        <span
          class="erro_texto"
          *ngIf="clinica.get('faculdade')?.errors?.['required']"
          >*Campo Obrigatorio.</span
        >
      </div>
    </div>
    <div class="formulario__campo">
      <div style="margin: 10px 0px; margin-bottom: 5px">Pós Graduação</div>
      <input formControlName="posGratuacao" class="campo__escrita" />
    </div>
    <div>
      <button mat-button class="btnRegistro">
        <mat-icon>save</mat-icon>
        Criar Registro
      </button>
    </div>
  </form>
</div>
