.forms{
    padding: 20px 38px;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forms-together{
    display: flex;
    align-items: center;
    column-gap: 20px;

}
.borda{
    background-color: #f45e13 !important;
    padding: 32px;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--mdc-filled-text-field-container-color);
    width: 122px !important;
    border-radius: 10px !important;
    height: 74px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.btnRegistro {
    margin-top: 30px;
    color: white !important;
    background-color: #F45F13;

    img{
        width: 27px;
    }
}
.campo__escrita{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    width: 358px;
  }
  #clinica{
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .erro_texto{
    color: red;
  }

  .item-imagemEditar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
  
      .imagem{
        background-color: white;
        width: 80px;
      }
  }