<div class="body">
  <h2 style="margin: 10px 5px">Informações do Veterinário</h2>
  <div class="header">
    <a href="clinic" class="AClinica">Clínica</a>
    <mat-icon>arrow_forward_ios</mat-icon>
    <a href="informacao" class="AInformacao">Informações do Veterinário</a>
  </div>
  <div *ngIf="clinica" class="allInformation">
    <img
      [src]="'data:image/png;base64,' + clinica.cra6a_imagemveterinario"
      alt="Imagem do Veterinário"
    />
    <div class="informationVeterinario">
      <h2 style="margin: 0px">
        Dr<span style="font-size: 15px"> (a) </span> :{{
          clinica.cra6a_nomeveterinario
        }}
      </h2>
      <p style="margin: 0px">
        <span style="font-weight: 600"> Atuação no mercado: </span>
        {{ clinica.cra6a_anoatuacao }} anos
      </p>
      <p style="margin: 0px">
        <span style="font-weight: 600"> Data de Nascimento: </span>
        {{ clinica.cra6a_datanascimento | date : "dd/MM/yyyy" }}
      </p>
      <p style="margin: 0px">
        <span style="font-weight: 600"> Faculdade: </span>
        {{ clinica.cra6a_faculdade }}
      </p>
      <p style="margin: 0px">
        <span style="font-weight: 600"> Pós-Graduação: </span>
        {{ clinica.cra6a_posgraduacao }}
      </p>
    </div>
  </div>
  <div *ngIf="!clinica">
    <p>Carregando informações da clínica...</p>
  </div>

  <div
    *ngIf="agendamentos.length > 0"
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 20px;
    "
  >
    <h2>Agendamentos</h2>
    <table class="consultas" *ngFor="let agendamento of agendamentos">
      <tbody>
        <tr>
          <td style="font-weight: 600; width: 200px">Nome do Pet</td>
          <td style="font-weight: 600; width: 200px">Data</td>
          <td style="font-weight: 600; width: 200px">Horário</td>
          <td style="font-weight: 600; width: 200px">Status</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>{{ agendamento.nomePet }}</td>
          <td>{{ formatarData(agendamento.cra6a_horariodaconsulta) }}</td>
          <td>{{ formatarHora(agendamento.cra6a_horariodaconsulta) }}</td>
          <td>{{ getStatusNome(agendamento.cra6a_status) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
