
<div *ngIf="isEditVisible && selectedVeterinario" class="edit">
  <div class="background-overlay" 
       (click)="hideEdit()" 
       [ngClass]="{'fade-in-overlay': isAnimating, 'fade-out-overlay': !isAnimating}">
  </div>
  <div class="containerEdit">
    <div class="body-edit" [ngClass]="{'animate': isAnimating, 'animate-leave': !isAnimating}">
      <button (click)="hideEdit()" class="close-btn"><mat-icon>close</mat-icon></button>
      <h2 style="margin-left: 20px;">Editar Informações do Veterinário</h2>
      <div class="item-imagemEditar" (click)="fileInput.click()">
        <img [src]="'data:image/png;base64,' + selectedVeterinario.cra6a_imagemveterinario" alt="Imagem do Veterinário" class="imagem">
        <input
          type="file"
          name="imagem"
          (change)="onFileChange($event)"
          #fileInput
          style="display: none;"
          accept="image/*"
        />
      </div>
      <div class="input" style="margin: 10px 20px;">
        <mat-form-field style="width: 100% !important; border-radius: 10px !important;">
          <mat-label>Nome do Veterinário</mat-label>
          <input matInput type="text" [(ngModel)]="selectedVeterinario.cra6a_nomeveterinario" />
        </mat-form-field>
      </div>
      <div class="input" style="margin: 10px 20px;">
        <mat-form-field style="width: 100% !important; border-radius: 10px !important;">
          <mat-label>Faculdade</mat-label>
          <input matInput type="text" [(ngModel)]="selectedVeterinario.cra6a_faculdade" />
        </mat-form-field>
      </div>
      <div class="input" style="margin: 10px 20px;">
        <mat-form-field style="width: 100% !important; border-radius: 10px !important;">
          <mat-label>Pós-Graduação</mat-label>
          <input matInput type="text" [(ngModel)]="selectedVeterinario.cra6a_posgraduacao" />
        </mat-form-field>
      </div>
      <div style=" 
      display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin: 24px 0px;
      ">
        <button mat-button class="save" (click)="salvarAlteracao(selectedVeterinario)"><mat-icon>save</mat-icon>Salvar Alteração</button>
        <button mat-button class="excluir" (click)="excluirVeterinario(selectedVeterinario)"><mat-icon>delete</mat-icon>Excluir Veterinário</button>
      </div>
    </div>
  </div>
</div>

<div class="body">
  <h2 style="margin: 10px 5px">Informações do Veterinário</h2>
  <div class="header">
    <a href="clinic" class="AClinica"> <mat-icon>arrow_back</mat-icon>Voltar</a>
  </div>
  <div style="display: flex">
    <div *ngIf="clinica" class="allInformation">
      <div style="display: flex; align-items: flex-end; justify-content: flex-end;">
        <button mat-button (click)="showEdit(clinica)" class="showedit">
          <mat-icon style="margin: 0px;">edit</mat-icon>
        </button>
      </div>
      <div
      style="
          display: flex;
          align-items: center;
          justify-content: space-around;
          "
      >
        <img
          [src]="'data:image/png;base64,' + clinica.cra6a_imagemveterinario"
          alt="Imagem do Veterinário"
          style="border-radius: 50%; width: 157px"
        />
        <h2 style="margin: 0px; display: flex; align-items: center">
          Dr<span style="font-size: 15px"> (a) </span> :{{
            clinica.cra6a_nomeveterinario
          }}
        </h2>
      </div>
      <div class="informationVeterinario">
        <p
          style="
            margin: 0px;
            display: flex;
            align-items: center;
            margin-left: 40px;
          "
        >
        <mat-icon style="color: #F45F13;">pets</mat-icon>
          <span style="font-weight: 600; margin: 0px 5px">
            Atuação no mercado:
          </span>
          {{ clinica.cra6a_anoatuacao }} anos
        </p>
        <p
          style="
            margin: 0px;
            display: flex;
            align-items: center;
            margin-left: 40px;
          "
        >
          <mat-icon style="color: #F45F13;">event</mat-icon>
          <span style="font-weight: 600; margin: 0px 5px">
            Data de Nascimento:
          </span>
          {{ clinica.cra6a_datanascimento | date : "dd/MM/yyyy" }}
        </p>
        <p
          style="
            margin: 0px;
            display: flex;
            align-items: center;
            margin-left: 40px;
          "
        >
          <mat-icon style="color: #F45F13;">school</mat-icon>
          <span style="font-weight: 600; margin: 0px 5px"> Faculdade: </span>
          {{ clinica.cra6a_faculdade }}
        </p>
        <p
          style="
            margin: 0px;
            display: flex;
            align-items: center;
            margin-left: 40px;
          "
        >
          <mat-icon style="color: #F45F13;">workspace_premium</mat-icon>
          <span style="font-weight: 600; margin: 0px 5px">
            Pós-Graduação:
          </span>
          {{ clinica.cra6a_posgraduacao }}
        </p>
      </div>
    </div>
    <div></div>

    <div *ngIf="!clinica">
      <p>Carregando informações da clínica...</p>
    </div>
  </div>
</div>

<div
  *ngIf="agendamentos.length > 0"
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    margin: 0px 20px;
  "
>
  <h2>Agendamentos do Veterinário</h2>
  <table>
    <thead>
      <tr class="title">
        <th width="10%">Nome do Pet</th>
        <th width="10%">Data</th>
        <th width="10%">Horário</th>
        <th width=" 10%">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let agendamento of agendamentos">
        <td>{{ agendamento.nomePet }}</td>
        <td>{{ formatarData(agendamento.cra6a_horariodaconsulta) }}</td>
        <td>{{ formatarHora(agendamento.cra6a_horariodaconsulta) }}</td>
        <td [ngClass]="getStatusNome(agendamento.cra6a_status).classe">
          {{ getStatusNome(agendamento.cra6a_status).nome }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
