.forms{
    padding: 20px 38px;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forms-together{
    display: flex;
    align-items: center;
    column-gap: 20px;

}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--mdc-filled-text-field-container-color);
    width: 122px !important;
    border-radius: 10px !important;
    height: 74px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.btnRegistro {
    padding: 10px;
    color: black;
    background-color: #F45F13;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
    column-gap: 5px;
    margin-top: 10px;

    img{
        width: 27px;
    }
}
.campo__escrita{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    width: 358px;
  }
  #clinica{
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .erro_texto{
    color: red;
  }